/********
HEADER
********/
header {
    font-family: Arial;
    
}

nav a {
    text-decoration: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 1.05em;
    color: black;
}

nav a:hover {
    color: brown;
}

.nav {
    padding-right: 10px;
}

body {
    background-color: beige;
    text-align: center;
}

/********
FOOTER
********/

footer {
    font-family: Arial;
    font-size: .75em;
}






